<%- include('partials/header.ejs'); -%>

<% list.forEach(function(item){ %>
<section class="section-one">
   <div class="blogTitle">
      <p><%= item.Title %></p>
   </div>
   <div class="content">
      <p><%= item.Content.slice(0 , 150) %> <a class="readmore" href="/<%= item.Title %>">Read more...</a></p>
   </div>
</section>
<% }) %>


<form action="/compose" method="GET" class="composeform">
   <button type="buttom" class="composeBtn">+</button>
</form>
<!-- <section class="section-one">
      <div class="blogTitle">
         <p>Hello</p>
      </div>
      <div class="content">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellendus facere iste quam, exercitationem delectus possimus pariatur similique quod cum asperiores aliquid reiciendis et, repudiandae adipisci aspernatur vero veritatis nobis recusandae enim hic vitae suscipit minus inventore? Quos quidem magni minima ducimus, accusantium repellendus labore illum pariatur fugit, et vero.</p>
      </div>
   </section> -->

   <div class="circle1"></div>
   <div class="circle2"></div>
   <div class="circle3"></div>

<%- include('partials/footer.ejs'); -%>
